.container{
    background-color: rgb(210, 135, 85);
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    columns: 3;
    padding: 0.5rem 0rem 0.5rem 0rem;

}

.containerLogo{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchLogo{
    width: 85%;
    height: 85%;
}

.searchContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30rem;
    margin-left: 1rem;

}

.searchButton{
    display: none;
}

.searchInput{
    width: 85%;
    border-radius: 5px;
    height: 65%;
    border: none;
    padding-left: 0.5rem;
}

.listContainer{
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 3rem;
    font-size: xx-large;
    margin: 0px;
    justify-content: start;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.profileContainer{
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.profileImgContainer{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.profileImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

@media (max-width:900px){
    .searchContainer{
        justify-content: start;
        margin-left: 1rem;
    }
    .searchInput{
        display: none;
    }

    .searchButton{
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: none;
    }
}